@import "./sidebar";
@import "./order";
@import "./main-section";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252836;
  font-family: "Barlow", sans-serif;
}
main {
  display: grid;
  grid-template-columns: 104px 1fr 406px;
}
