.sidebar {
  padding: 20px 0px;
  background-color: #1f1d2b;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0px 15px 15px 0px;
  position: fixed;
  width: 104px;
}

.sidebar-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
}

.sidebar-logo {
  background-color: #ea966942;
  width: 56px;
  height: 56px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sidebar-logo img {
  width: 36px;
  height: 36px;
}

.sidebar-logout {
  width: 56px;
  height: 56px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-color: #ea7c6900;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.sidebar-logout:hover {
  border: 2px solid #ea7c69;
}

.sidebar-menu-item {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  cursor: pointer;
  border-radius: 15px;
  border-color: #ea7c6900;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.sidebar-menu-item:hover {
  border: 2px solid #ea7c69;
}

.active-item > * {
  position: relative;
  z-index: 10;
}

.active-item::before {
  content: url("../images/sidebar-active-item.svg");
  position: absolute;
  z-index: 0;
  left: -10px;
}

.active-item::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56px;
  height: 56px;
  background-color: #ea7c69;
  border-radius: 15px;
}

.order {
  height: 100vh;
  padding: 25px;
  background-color: #1f1d2b;
  width: 406px;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.order header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  height: 132px;
}

.order-header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-header-info p:first-child {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.order-header-info p:last-child {
  width: 75px;
  text-align: right;
}

.order-header-selectors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order-header-selectors p {
  color: #ea7c69;
  background-color: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: border 0.2s ease;
  transition: border 0.2s ease;
}

.order-header-selectors p:hover {
  border-color: #ea7c69;
}

.active-button {
  border: none !important;
  background-color: #ea7c69 !important;
  color: white !important;
}

.order-content-item {
  margin: 25px 0;
}

.order-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.order-item-description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.order-item-description img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.order-item-description h4:last-child {
  width: 65px;
  text-align: right;
}

.order-content {
  border-top: 1px solid #393c49;
  border-bottom: 1px solid #393c49;
  overflow: hidden;
  height: 400px;
}

.order-item-quantity {
  background-color: #2d303e;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.order-item-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.order-item-note input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  border-radius: 5px;
  background-color: #2d303e;
  border: none;
  padding-left: 25px;
  color: white;
}

.order-item-note input:focus {
  outline: none;
}

.order-item-note div {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff7ca3;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: border-width 0.2s ease;
  transition: border-width 0.2s ease;
  margin-left: 17px;
}

.order-item-note div:hover {
  border-width: 3px;
}

.order-disacount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: bold;
}

.order-disacount p:first-child {
  font-weight: lighter;
  color: #abbbc2;
  font-size: 0.85em;
  margin-bottom: 10px;
}

.order-subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  font-weight: bold;
}

.order-subtotal p:first-child {
  font-weight: lighter;
  color: #abbbc2;
  font-size: 0.85em;
  margin: 10px 0;
}

.order-payment {
  height: 48px;
  background-color: #ea7c69;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.order-payment:hover {
  -webkit-box-shadow: 0px 0px 20px 10px #ea7c692f;
          box-shadow: 0px 0px 20px 10px #ea7c692f;
}

.main-section {
  padding: 25px 25px 0px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
  color: white;
  margin-bottom: 35px;
}

.main-title input {
  width: 220px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #393c49;
  background-color: #2d303e;
  color: #abbbc2;
  padding-left: 35px;
}

.main-title input:focus {
  outline: none;
}

.main-title img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 10px;
}

.main-title-searchbar {
  position: relative;
}

.menu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: 1px solid #393c49;
  padding-bottom: 15px;
  margin-bottom: 25px;
}

.menu-tabs p {
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.menu-tabs p:hover {
  color: #ea7c69;
}

.menu-tabs > p {
  padding-right: 50px;
}

.active-tab {
  color: #ea7c69;
}

.main-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.main-content-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 48px;
  background-color: 1f1d2b;
  border: 1px solid #393c49;
  border-radius: 5px;
}

.main-content-dropdown img {
  width: 20px;
  height: 20px;
}

.main-content-grid {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 50px;
}

.grid-item {
  width: 192px;
  height: 226px;
  background-color: #1f1d2b;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 0 40px;
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 0.7em;
  cursor: pointer;
  border-color: #393c4900;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}

.grid-item:hover {
  border: 3px solid #393c49;
}

.grid-item img {
  width: 132px;
  height: 132px;
  position: absolute;
  bottom: 125px;
}

.grid-item h4 {
  color: #abbbc2;
  font-weight: lighter;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #252836;
  font-family: "Barlow", sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 104px 1fr 406px;
      grid-template-columns: 104px 1fr 406px;
}

@media only screen and (max-width: 1485px) {
  .main-content-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1246px) {
  .main-content-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .menu-tabs {
    font-size: 0.85em;
  }
  .menu-tabs > p {
    padding-right: 35px;
  }
}

@media only screen and (max-width: 1084px) {
  main {
    -ms-grid-columns: 104px 1fr 306px;
        grid-template-columns: 104px 1fr 306px;
  }
  .order {
    width: 306px;
  }
}

@media only screen and (max-width: 908px) {
  .main-content-grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .main-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 150px;
  }
  .menu-tabs {
    font-size: 0.65;
  }
  .menu-tabs > p {
    padding-right: 5%;
  }
}
/*# sourceMappingURL=style.css.map */